@import "tailwindcss";

/* Custom theme overrides go here */
@theme {
  /* v4 uses CSS variables for theme config! */
  --color-gray-900: #111827;
}

/* Default Dark Mode */
body {
  @apply bg-gray-900 text-white;
}